body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
}

.logo {
    margin-right: 20px; 
}

.logo img {
    height: 40px; 
    width: auto;  
}

nav {
    display: flex;
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px; 
    justify-content: flex-start;
    flex-grow: 1;
}



nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #d9534f; 
    text-decoration: underline; 
}



.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.news {
    padding: 20px;
}

.news h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.news-items {
    display: flex;
    gap: 20px;
}

.news-items article {
    background-color: #2a2a2a;
    padding: 20px;
    flex: 1;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.news-items article:hover {
    background-color: #333; 
    transform: scale(1.02); 
}

.news-items img {
    width: 100%;
    height: auto;
}

.news-items h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.news-items p {
    font-size: 1em;
}

.news-items a {
    color: #d9534f;
    text-decoration: none;
    font-weight: bold;
}

.fixtures-results {
    padding: 20px;
}

.fixtures-results h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.fixtures {
    display: flex;
    gap: 20px;
}

.fixture, .result {
    background-color: #2a2a2a;
    padding: 20px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.fixture:hover, .result:hover {
    background-color: #333; 
    transform: scale(1.02); 
}

.fixture img, .result img {
    width: 120px; 
    height: auto;
    margin-left: 10px;
}

.fixture-text, .result-text {
    flex: 1;
}

.connect-with-us {
    padding: 40px 20px;
    text-align: center;
    background-color: #2a2a2a;
    color: #fff;
    margin-top: 40px; 
}

.connect-with-us h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon img {
    width: 40px; 
    height: 40px;
    transition: transform 0.3s ease, opacity 0.3s ease; 
}

.social-icon img:hover {
    transform: scale(1.1); 
    opacity: 0.8; 
}